# __Sets Excercises__

Q1 Length of the IT set

In [7]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(it_companies)
print('The lenghth of the sets: ', len(it_companies))

{'Oracle', 'Google', 'IBM', 'Facebook', 'Amazon', 'Apple', 'Microsoft'}
The lenghth of the sets:  7

Q2 Adding an element to the IT set

In [8]:
print(it_companies)
it_companies.add('Twitter')
print('The IT sets are:',it_companies)

{'Oracle', 'Google', 'IBM', 'Facebook', 'Amazon', 'Apple', 'Microsoft'}
The IT sets are: {'Oracle', 'Google', 'IBM', 'Facebook', 'Amazon', 'Twitter', 'Apple', 'Microsoft'}

Q3 adding multiple elements to the IT set

In [9]:
print('The IT sets are:',it_companies)
it_companies.update(['Tesla', 'SpaceX', 'LinkedIn'])
print('The updated IT sets are:',it_companies)

The IT sets are: {'Oracle', 'Google', 'IBM', 'Facebook', 'Amazon', 'Twitter', 'Apple', 'Microsoft'}
The updated IT sets are: {'Oracle', 'Google', 'LinkedIn', 'Apple', 'Microsoft', 'Tesla', 'Amazon', 'Twitter', 'IBM', 'Facebook', 'SpaceX'}

Q4: remove one IT company from the set

In [10]:
print(it_companies)
it_companies.remove('Facebook')
print('The updated IT sets are:',it_companies)

{'Oracle', 'Google', 'LinkedIn', 'Apple', 'Microsoft', 'Tesla', 'Amazon', 'Twitter', 'IBM', 'Facebook', 'SpaceX'}
The updated IT sets are: {'Oracle', 'Google', 'LinkedIn', 'Apple', 'Microsoft', 'Tesla', 'Amazon', 'Twitter', 'IBM', 'SpaceX'}

Q5: Differences between remove and discard in a set

remove return error if element is not found in   the set while discard does not  return error even if element is not found in the set

see the example below

In [11]:
even_number = {2 ,4 ,6, 8, 10,  12, 14, 16}

even_number.remove(10)
print(even_number)

even_number.remove(18) #This will prompt an error message because 18 is not found in the set

print(even_number)

{2, 4, 6, 8, 12, 14, 16}

KeyError: 18

In [9]:
even_number.discard(8)

even_number.discard(18)  #This will not prompt an error message although 18 is not found in the set
print(even_number)

{2, 4, 6, 12, 14, 16}

__# SET LEVEL 2__

Q1: Joining (union) set A and set B

In [66]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print('The set A:', A)
print('The set B:', B)

print('The union of A and B is:', A.union(B))

The set A: {19, 20, 22, 24, 25, 26}
The set B: {19, 20, 22, 24, 25, 26, 27, 28}
The union of A and B is: {19, 20, 22, 24, 25, 26, 27, 28}

Q2: Intersection of A and B

In [67]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print('The set A:', A)
print('The set B:', B)

print('The intersection of A and B is:', A.intersection(B))

The set A: {19, 20, 22, 24, 25, 26}
The set B: {19, 20, 22, 24, 25, 26, 27, 28}
The intersection of A and B is: {19, 20, 22, 24, 25, 26}

Q3: Is A subset of B

In [68]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print('The set A:', A)
print('The set B:', B)

print('is A subset of B?', A.issubset(B))

The set A: {19, 20, 22, 24, 25, 26}
The set B: {19, 20, 22, 24, 25, 26, 27, 28}
is A subset of B? True

Q5: Are A and B disjoint sets

In [69]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print('The set A:', A)
print('The set B:', B)

print('Are A and B disjoint?', A.isdisjoint(B))

The set A: {19, 20, 22, 24, 25, 26}
The set B: {19, 20, 22, 24, 25, 26, 27, 28}
Are A and B disjoint? False

Q5: Join A with B and B with A

In [70]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print('The set A:', A)
print('The set B:', B)

print('Joing A With B:', A.union(B))
print('Joining B with A:', B.union(A))

The set A: {19, 20, 22, 24, 25, 26}
The set B: {19, 20, 22, 24, 25, 26, 27, 28}
Joing A With B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

Q6: What is the symmetric difference between A and B

In [71]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print('The set A:', A)
print('The set B:', B)

print('The difference between A and B:', A.difference(B))
print('The difference between B and A:', B.difference(A))

The set A: {19, 20, 22, 24, 25, 26}
The set B: {19, 20, 22, 24, 25, 26, 27, 28}
The difference between A and B: set()
The difference between B and A: {27, 28}

Q7: Delete the sets completely

In [72]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}


del A
del B

print('The set A after deletion:', A)
print('The set B after deletion:', B)

NameError: name 'A' is not defined

__# Sets Exercises: Level 3__

Q1: Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [ ]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('The list is:', age)
AGE = (set(age))
print('The set is:',AGE)

print('The length of the list is:', len(age))
print('the length of the set is:', len(AGE))

print('Is the length of the list greater than the length of the set?', len(AGE) < len(age))

The list is: [22, 19, 24, 25, 26, 24, 25, 24]
The set is: {19, 22, 24, 25, 26}
The length of the list is: 8
the length of the set is: 5
Is the length of the list greater than the length of the set? True

Q2: Explain the difference between the following data types: string, list, tuple and se

| Data Type | Ordered | Mutable | Duplicates | Indexing | Syntax |
| --- | --- | --- | --- | --- | --- |
| String | Yes | No | Yes | Yes | "hello" |
| List | Yes | Yes | Yes | Yes | [1, 2, 3] |
| Tuple | Yes | No | Yes | Yes | (1, 2, 3) |
| Set | No | Yes | No | No | {1, 2, 3} |

Q3: I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words

In [15]:
Teacher = "I am a teacher and I love to inspire and teach people."

# Split the sentence into words
words = Teacher.split()

# Convert to lowercase and remove punctuation
words = [''.join(e for e in word if e.isalnum()).lower() for word in words]

# Use set to find unique words
unique_words = set(words)

print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'teach', 'teacher', 'people', 'and', 'love', 'inspire', 'to', 'i', 'a', 'am'}
Number of unique words: 10