__# Day 5: 30 Days of python programming: TUPLE__

# __Tuple Excercise__
## Excercise level 1

Q1 creating an empty tuple

In [17]:
Empty_Tuple = ()
print('empty typle', Empty_Tuple)
type(Empty_Tuple)

empty typle ()

tuple

Q2 Creating a tuple containing names

In [18]:
brothers = ('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib')
sisters = ('Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura')

print(brothers)
print(sisters)

('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib')
('Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura')

Q3 Joining brothers and sisters (+)

In [19]:
print('Brothers are ',brothers)
print('Sister are ',sisters)
siblings = brothers + sisters
print('Siblins are',siblings)

Brothers are  ('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib')
Sister are  ('Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura')
Siblins are ('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura')

Q4 number of siblings using the len function

In [20]:
print('The number of brothers = ',len(brothers))
print('The number of sisters = ',len(sisters))
print('The number of siblings = ',len(siblings))

The number of brothers =  5
The number of sisters =  5
The number of siblings =  10

Q 5a Modyfying the tuple
#### Remember tuple are immutable meaning one cant append additional element, however there are two ways to go about, either by creating another tuple and join them or by converting the tuple to list and append the additional element

In [21]:
print('The children are:',siblings)
parent = ('Yusuf',"Asma'u")
family_members = siblings + parent
print('Parent to be modify:',parent)
print('Members of the family:',family_members)

The children are: ('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura')
Parent to be modify: ('Yusuf', "Asma'u")
Members of the family: ('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura', 'Yusuf', "Asma'u")

Q5b the other way is to convert the tuple to list and append the parent

In [22]:
siblings_list = list(siblings)
print(siblings_list)
siblings_list.append('Yusuf')
siblings_list.append('Asma"u')
print(siblings_list)
family_members1 = tuple(siblings_list)
print(family_members1)

['Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura']
['Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura', 'Yusuf', 'Asma"u']
('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura', 'Yusuf', 'Asma"u')

__## Excercise level 2__

Q 1a unpacking parent from the family members

In [23]:
parent1 = family_members[-2:]
print('The parent are: ',parent1)

The parent are:  ('Yusuf', "Asma'u")

Q1b unpacking siblings from the family members

In [24]:
siblings1 = family_members[:-2]
print('The siblings are: ',siblings1)

The siblings are:  ('Shamsuddeen', 'Salisu', 'Adamu', 'Saluhu', 'Najib', 'Shamsiyya', 'Firdausi', 'Zahra', 'Rukayya', 'Sahura')

Q2 Creating a tuple of fruits, vegetables and animal products

In [25]:
fruit = ('orange', 'mango', 'guava', 'cashew')
vegetable = ('cabbage', 'legumes', 'lattuce', 'moringa')
animal_products = ('beef', 'fat', 'skin', 'mutton')

print('The fruits are:', fruit)
print('The vegetables are:', vegetable)
print('The aninamal products are:', animal_products)

The fruits are: ('orange', 'mango', 'guava', 'cashew')
The vegetables are: ('cabbage', 'legumes', 'lattuce', 'moringa')
The aninamal products are: ('beef', 'fat', 'skin', 'mutton')

Q 2b Joining the above tuples and assign to a variable food_stuff_tp

In [26]:
print('The fruits are:', fruit)
print('The vegetables are:', vegetable)
print('The aninamal products are:', animal_products)

food_stuff_tp = fruit + vegetable +animal_products

print('the tuple of the food stuffs are:', food_stuff_tp)

The fruits are: ('orange', 'mango', 'guava', 'cashew')
The vegetables are: ('cabbage', 'legumes', 'lattuce', 'moringa')
The aninamal products are: ('beef', 'fat', 'skin', 'mutton')
the tuple of the food stuffs are: ('orange', 'mango', 'guava', 'cashew', 'cabbage', 'legumes', 'lattuce', 'moringa', 'beef', 'fat', 'skin', 'mutton')

Q3 Changing the food stuff tuple to food stuff list

In [27]:
food_stuff_lt = list(food_stuff_tp)

print('the food stuff list :',food_stuff_lt)

the food stuff list : ['orange', 'mango', 'guava', 'cashew', 'cabbage', 'legumes', 'lattuce', 'moringa', 'beef', 'fat', 'skin', 'mutton']

Q4 slice out let find the length of the list or the tuple

In [28]:
lenght_tp = len(food_stuff_tp)
length_lt = len(food_stuff_lt)
print('the length of the tp =', lenght_tp)
print('the length of the lt =', length_lt)

the length of the tp = 12
the length of the lt = 12

from the length above, the middle items are 6 and 7, they can be slice out using indexing

In [29]:
middle_items = food_stuff_lt[5:7] # for the list
middle_items1 = food_stuff_tp[5:7] # for the tuple
print('The middle items are',middle_items)
print('The middle items are',middle_items1)

The middle items are ['legumes', 'lattuce']
The middle items are ('legumes', 'lattuce')

Q5 Slicing the first three items from the list

In [30]:
First_three_items = food_stuff_lt[:3]
print('First three items',First_three_items)

First three items ['orange', 'mango', 'guava']

Q5b Slicing the last three items from the list

In [31]:
Last_three_items = food_stuff_lt[-3:]
print('Last three items',Last_three_items)

Last three items ['fat', 'skin', 'mutton']

Q6 Deleting the food stuff tuple and checking if it exist

In [32]:
del food_stuff_tp
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

Q 7 checking if Estonia and Iceland are nordic country

In [10]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print(nordic_countries)

('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

checking for Estonia

In [11]:
nordic_countries = list(nordic_countries)
Estonia = 'Estonia'

Estonia = nordic_countries.index(Estonia)
print('Estonia exist at index =', Estonia)

ValueError: 'Estonia' is not in list

checking for Iceland

In [13]:
nordic_countries = list(nordic_countries)
Iceland = 'Iceland'

Iceland = nordic_countries.index('Iceland')
print('Iceland exist at index =', Iceland)

Iceland exist at index = 2