## __Day 5: 30 Days of python programming: LIST__

Excercise 5 Level 1

Q1 Declaring an empty list

In [8]:
Empty_List = [] # empty list


print('The Empty List = ',Empty_List)

The Empty List =  []

Q2 Declaring a list  with more than 5 items

In [9]:
universities = ['ABU', 1, 'BUK', 3, 'KUST', 2, 'KASU', 7, 5>3]
print(universities)

['ABU', 1, 'BUK', 3, 'KUST', 2, 'KASU', 7, True]

Q 3 finding the length of the list

In [10]:
print('Length of an empty list = ',len(Empty_List))
print('Length of universities list = ',len(universities))

Length of an empty list =  0
Length of universities list =  9

Q 4 getting 1st, 2nd and 3rd item

In [11]:
print('The first, middle and last items are =',universities[0],universities[4],universities[-1])

The first, middle and last items are = ABU KUST True

Q5 Declaring a biodata list

In [12]:
myself = ['Shamsuddeen', 34, 1.68, 'Married', 'Doguwa']

Q5 Declaring IT companies list

In [13]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Q7 Printing Q5 and Q6

In [14]:
print('My biodata =', myself)
print('List of IT Companies =',it_companies)

My biodata = ['Shamsuddeen', 34, 1.68, 'Married', 'Doguwa']
List of IT Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Q8 printing number of companies in the list

In [15]:
print('Number of companies in the list =', len(it_companies))

Number of companies in the list = 7

Q9 printing the 1st, 2nd and 3rd company

In [16]:
print('The first, middle and last IT companies in the list are  =',it_companies[0],it_companies[3],it_companies[-1])

The first, middle and last IT companies in the list are  = Facebook Apple Amazon

Q 10 Modifying and printing one of the companies

In [17]:
print(it_companies)
it_companies[1] = 'Huawei'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Huawei', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Q 11 Adding an IT Company to the list

In [18]:
print(it_companies)
it_companies.append('Telegram')
print(it_companies)

['Facebook', 'Huawei', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Huawei', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Telegram']

Q12 Inserting an element at the middle of the list, 
*NOTE:* the list has 8 elements, therefore the middle is in between index 3 and 4

In [19]:
print(it_companies)
it_companies.insert(4, 'Linkedin') # Linkedin is added to the middle of the list
print(it_companies)

['Facebook', 'Huawei', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Telegram']
['Facebook', 'Huawei', 'Microsoft', 'Apple', 'Linkedin', 'IBM', 'Oracle', 'Amazon', 'Telegram']

Q13 Changing element to uppercase

In [20]:
print(it_companies)
it_companies[2] = it_companies[2].upper() # Microsoft will be displayed in the uppercase
print(it_companies)

['Facebook', 'Huawei', 'Microsoft', 'Apple', 'Linkedin', 'IBM', 'Oracle', 'Amazon', 'Telegram']
['Facebook', 'Huawei', 'MICROSOFT', 'Apple', 'Linkedin', 'IBM', 'Oracle', 'Amazon', 'Telegram']

Q14 Joining element with a #

In [21]:
print(it_companies)
joined_itcompanies = '#; '.join(it_companies)
print(joined_itcompanies)

['Facebook', 'Huawei', 'MICROSOFT', 'Apple', 'Linkedin', 'IBM', 'Oracle', 'Amazon', 'Telegram']
Facebook#; Huawei#; MICROSOFT#; Apple#; Linkedin#; IBM#; Oracle#; Amazon#; Telegram

Q15 how to check if a certain company exist in the list

In [22]:
print(it_companies)
Microsoft = 'Microsoft'

Microsoft = it_companies.index(Microsoft)
print('Microsoft exist at index =', Microsoft)

['Facebook', 'Huawei', 'MICROSOFT', 'Apple', 'Linkedin', 'IBM', 'Oracle', 'Amazon', 'Telegram']

ValueError: 'Microsoft' is not in list

Q16 sorting a list of IT companies

In [ ]:
print(it_companies)
it_companies.sort() # Alphabetical arragement
print('Th sorted IT companies list is ',it_companies)

['Facebook', 'Huawei', 'MICROSOFT', 'Apple', 'Linkedin', 'IBM', 'Oracle', 'Amazon', 'Telegram']
Th sorted IT companies list is  ['Amazon', 'Apple', 'Facebook', 'Huawei', 'IBM', 'Linkedin', 'MICROSOFT', 'Oracle', 'Telegram']

Q17 Sorting the list in decending order

In [ ]:
print(it_companies)
it_companies.sort(reverse=True) # sorted in reverse alphabetical order
print('Sorted IT companies in reverse order ',it_companies)

['Facebook', 'Huawei', 'MICROSOFT', 'Apple', 'IBM', 'Oracle', 'Amazon']
Sorted IT companies in reverse order  ['Oracle', 'MICROSOFT', 'IBM', 'Huawei', 'Facebook', 'Apple', 'Amazon']

Q18 Slicing first three IT companies

In [ ]:
print(it_companies)
First_3 = it_companies[:3]
print('First 3 IT compnaies are ',First_3)

['Oracle', 'MICROSOFT', 'IBM', 'Huawei', 'Facebook', 'Apple', 'Amazon']
First 3 IT compnaies are  ['Oracle', 'MICROSOFT', 'IBM']

Q19 Slicing last 3 elements

In [ ]:
print(it_companies)
Last_3 = it_companies[-3:]
print('Last 3 IT compnaies are ',Last_3)

['Oracle', 'MICROSOFT', 'IBM', 'Huawei', 'Facebook', 'Apple', 'Amazon']
Last 3 IT compnaies are  ['Facebook', 'Apple', 'Amazon']

Q20 slicing the middle element

In [ ]:
print(it_companies)
Middle_Element = it_companies[4:5]
print('Middle IT compnaies are ',Middle_Element)

['Oracle', 'MICROSOFT', 'IBM', 'Huawei', 'Facebook', 'Apple', 'Amazon']
Middle IT compnaies are  ['Facebook']

Q 21 removing the first item from the list

In [ ]:
print(it_companies)
it_companies.pop(0)
print('IT compnaies are ',it_companies)

['Amazon', 'Apple', 'Facebook', 'Huawei', 'IBM', 'Linkedin', 'MICROSOFT', 'Oracle', 'Telegram']
IT compnaies are  ['Apple', 'Facebook', 'Huawei', 'IBM', 'Linkedin', 'MICROSOFT', 'Oracle', 'Telegram']

Q 22 removing the middle item from the list

In [ ]:
print(it_companies)
it_companies.pop(3)
print('IT compnaies are ',it_companies)

['Apple', 'Facebook', 'Huawei', 'IBM', 'Linkedin', 'MICROSOFT', 'Oracle', 'Telegram']
IT compnaies are  ['Apple', 'Facebook', 'Huawei', 'Linkedin', 'MICROSOFT', 'Oracle', 'Telegram']

Q 23 remove the last item

In [ ]:
print(it_companies)
it_companies.pop(-1)
print(it_companies)

['Apple', 'Facebook', 'Huawei', 'Linkedin', 'MICROSOFT', 'Oracle', 'Telegram']
['Apple', 'Facebook', 'Huawei', 'Linkedin', 'MICROSOFT', 'Oracle']

Q 24 removing all items from the list

In [ ]:
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.pop()
print(it_companies)

['Facebook', 'Huawei', 'MICROSOFT']
['Facebook', 'Huawei']
['Facebook']
[]

IndexError: pop from empty list

Q25 The IT list can be destory by using the del function

In [ ]:
del it_companies  # will delete the list
print(it_companies) #it will give an error because the list has been deleted

NameError: name 'it_companies' is not defined

Q 26 Joining a list

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end

print(front_end)
print(back_end)
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux']
['Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

Q27 adding Python and SQL to full stack

In [ ]:
print(full_stack)
full_stack.insert(5,'Python')
#full_stack.remove('Python')
print(full_stack)
full_stack.insert(6,'SQL')
#full_stack.remove('SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Excercise Level 2

Q 1

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

sorting the list

In [ ]:
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

Finding the max and min

In [ ]:
ages_max = max(ages)
ages_min = min(ages)


print('The maximum ages =',ages_max)
print('The minimum ages =',ages_min)

The maximum ages = 26
The minimum ages = 19
Sum of the min and max age =  45

adding the min age and max age to the list

In [ ]:
print(ages)
ages.append(ages_min)
ages.append(ages_max)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

Finding median of the list

In [ ]:
import statistics
print(ages)
ages_median = statistics.median(ages)
print('The median age =',ages_median)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The median age = 24.0

Finding average of the list

In [ ]:
print(ages)
ages_average = statistics.mean(ages)
print('The mean age =',ages_average)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The mean age = 22.8

Find the range of the ages

In [ ]:
print(ages)
ages_range = ages_max - ages_min
print('The range of the ages =', ages_range)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The range of the ages = 7

Comparison (min - average) and (max - average),

In [ ]:
ages_min_ave = abs(ages_min - ages_average)
print('The absolute difference between min and average =',ages_min_ave)
ages_max_ave = abs(ages_max - ages_average)
print('The absolute difference between max and average =',ages_max_ave)

The absolute difference between min and average = 3.8000000000000007
The absolute difference between max and average = 3.1999999999999993

Next is to make the comparison

In [ ]:
equal = abs(ages_min_ave) == abs(ages_max_ave)
print('For equal than it is =',equal)

greater_than = abs(ages_min_ave) > abs(ages_max_ave)
print('For greater than it is =',greater_than)

less_than = abs(ages_min_ave) < abs(ages_max_ave)
print('For less than it is =',less_than)

less_than_equal = abs(ages_min_ave) <= abs(ages_max_ave)
print('For less than or equal it is =',less_than_equal)

greater_than_equal = abs(ages_min_ave) >= abs(ages_max_ave)
print('For greater than or equal it is =',greater_than_equal)

not_equal = abs(ages_min_ave) != abs(ages_max_ave)
print('For not equal it is =',not_equal)

For equal than it is = False
For greater than it is = True
For less than it is = False
For less than or equal it is = False
For greater than or equal it is = True
For not equal it is = True

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
print(countries)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [ ]:
countries_Lenght = len(countries)
print('The total number of the countries = ',countries_Lenght)

The total number of the countries =  193

### lets find the middle element (country)

In [ ]:
middle_Element = countries[countries_Lenght//2 -1:countries_Lenght//2]
print('The country at the middle = ',middle_Element)

The country at the middle =  ['Lebanon']

Dividing the country in to two equal part

In [ ]:
First_list = countries[:(countries_Lenght//2)+1]
print('First list =',First_list)
print('Number of countries in the First list =',len(First_list))

second_list = countries[(countries_Lenght//2)+1 :]
print('Second list =',second_list)
print('Number of countries in the second list =',len(second_list))

First list = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Number of countries in the First list = 97
Second list = ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
Number of countries in the second list = 96

Using unpacking procedures to unpack the countries

In [ ]:
nations = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

first_nation, second_nation, third_nation, *rest = nations

print('The first nation is ',first_nation)
print('The second nation is ',second_nation)
print('The third nation is ',third_nation)
print('The scandinavian countries are: ',rest)

The first nation is  China
The second nation is  Russia
The third nation is  USA
The scandinavian countries = ['Finland', 'Sweden', 'Norway', 'Denmark']